body {
	background-color: #e8ecef;
}

.centered {
	padding-top: 100px;
	text-align: center;
}

.secret-text {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #000;
}

.display-3 {
	font-size: 4rem;
}

.jumbotron {
	padding: 2rem 2rem;
}
